body{
    margin: 0;
    height: 100vh;
    background: url('img/bg01.png');
    cursor: url('img/chicken.png'), pointer;
    
}

.wel{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-210px,-50px);
}
#btnSt{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-205px,-86px);
    padding: 5px;
    padding-right: 100px;
    padding-left: 100px;
    /* border: darksalmon solid 3px; 
    /* border: black solid 2px; */
    /* border-radius: 13%; */
    font-size: 3rem;
    color: black;
}

#btnSt:hover{
    margin-bottom: 5px;
}

